<!--start footer-->
<footer>
  <div class="container">
    <div id="FooterTwo"> © 2011 Fresh ideas <p><a href="/?ismobile=1">Mobile Site</a> | Standard Site</p></div>
    <div id="FooterTree"> Valid html5, css3, design and code by <a href="http://www.marijazaric.com">marija zaric - creative simplicity</a> </div>
  </div>
</footer>
<!--end footer-->