<%@ Master Language="C#" MasterPageFile="~/masterpages/MobileMasterTemplate.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderId="contentPlaceholderPage" runat="server">
  <!-- Insert "contentPlaceholderPage" markup here -->
  <!--start holder-->
  <div class="holder_content">
  <umbraco:Macro Alias="MobileNewsPanel" runat="server"></umbraco:Macro>
  
  </div>
  <!--end holder-->
  
</asp:Content>