<%@ Master Language="C#" MasterPageFile="~/masterpages/MasterTemplate.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderId="contentPlaceholderPage" runat="server">
  <!-- Insert "contentPlaceholderPage" markup here -->
  <!--start holder-->
  <div class="holder_content">
  <umbraco:Macro Alias="NewsPanel" runat="server" />
  <umbraco:Macro Alias="SidebarPanel" runat="server" />  
  </div>
  <!--end holder-->
  
</asp:Content>