<%@ Master Language="C#" MasterPageFile="~/masterpages/MasterTemplate.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderId="contentPlaceholderPage" runat="server">
  <!-- Insert "contentPlaceholderPage" markup here -->
  <!--start holder-->
  <div class="holder_content">
  <umbraco:Macro Alias="NewsDetailsPanel" runat="server"></umbraco:Macro>
  <umbraco:Macro Alias="SidebarPanel" runat="server" />  
  </div>
  <!--end holder-->
  
</asp:Content>