<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ContactUSTemplate ANY>
<!ATTLIST ContactUSTemplate id ID #REQUIRED>
<!ELEMENT HomeTemplate ANY>
<!ATTLIST HomeTemplate id ID #REQUIRED>
<!ELEMENT MasterTemplate ANY>
<!ATTLIST MasterTemplate id ID #REQUIRED>
<!ELEMENT NewsTemplate ANY>
<!ATTLIST NewsTemplate id ID #REQUIRED>
<!ELEMENT NewsDetailsTemplate ANY>
<!ATTLIST NewsDetailsTemplate id ID #REQUIRED>
<!ELEMENT SideItem ANY>
<!ATTLIST SideItem id ID #REQUIRED>
<!ELEMENT StandardTemplate ANY>
<!ATTLIST StandardTemplate id ID #REQUIRED>

]>
<root id="-1">
  <HomeTemplate id="1069" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-09-14T00:30:10" updateDate="2013-09-14T00:31:32" nodeName="Home" urlName="home" path="-1,1069" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="1046" nodeTypeAlias="HomeTemplate">
    <umbracoNaviHide>0</umbracoNaviHide>
    <metaTitle>Freash Ideas</metaTitle>
    <metaDescription><![CDATA[]]></metaDescription>
    <headerLogo>1059</headerLogo>
    <body><![CDATA[
<h2>Welcome to fresh ideas</h2>

<p>This website&nbsp;is a demonstration of the capabilities of one
of our favourite web content management systems, Umbraco. The
purpose of the demonstration is to show:</p>

<p>&nbsp;- how easy it is to change a website without having to
call a programmer;</p>

<p>&nbsp;- how you can enable your website for smartphones (and
tablets); and</p>

<p>&nbsp;- how you can manage content in an <em>offline</em>
'app'.</p>

<p>To view the mobile version of this website, simply access the
site from your Android, Apple (or other) device. Or click the link
in the footer.</p>
]]></body>
    <navigationLinks><![CDATA[]]></navigationLinks>
    <mobileHeaderLogo>1108</mobileHeaderLogo>
    <mobileBodyContent><![CDATA[
<h2>Welcome to fresh ideas</h2>

<p>This website&nbsp;is a demonstration of the capabilities of one
of our favourite web content management systems, Umbraco. The
purpose of the demonstration is to show:</p>

<p>&nbsp;- how easy it is to change a website without having to
call a programmer;</p>

<p>&nbsp;- how you can enable your website for smartphones (and
tablets); and</p>

<p>&nbsp;- how you can manage content in an <em>offline</em>
'app'.</p>

<p>To view the mobile version of this website, simply access the
site from your Android, Apple (or other) device. Or click the link
in the footer.</p>
]]></mobileBodyContent>
    <homePageImage>1069</homePageImage>
    <homePageImageText><![CDATA[
<h1>We serve fresh ideas</h1>

<p>A website from&nbsp;<a
href="http://www.linkedin.com/in/shaishavkarnani" target="_blank"
title="Shaishav Karnani">Shaishav Karnani</a>&nbsp;to demonstrate
the Umbraco content management system and how we have customised it
for smartphones.&nbsp;<br />
 <a href="/{localLink:1060}" title="About US" class="button">Read
all about it</a></p>
]]></homePageImageText>
    <homePageMobileImage>
    </homePageMobileImage>
    <StandardTemplate id="1070" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2013-09-14T00:30:10" updateDate="2013-09-14T00:31:33" nodeName="About US" urlName="about-us" path="-1,1069,1070" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="StandardTemplate">
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaTitle>
      </metaTitle>
      <metaDescription><![CDATA[]]></metaDescription>
      <body><![CDATA[
<h2>About</h2>

<p><img src="/media/194/picture1.jpg" width="200" height="97" alt="About US Image"/></p>

<h3>It's Easy</h3>

<p>We love Umbraco as it is so user friendly - our clients usually
pick it up fast and with zero training. One of the aims of this
demonstration is to show you this.&nbsp;You'll be managing the
content of this very website.</p>

<h3>Managing mobile websites</h3>

<p>If you view this page on a moblie device, you won't be reading
this. You'll be reading an abridged version of this page.</p>

<p>People who access websites from smartphones benefit from a
<strong>simplified version of the website</strong>. This is easily
achievable.</p>

<p>We have taken this a step further by customising the Umbraco
website content management system so that it can <strong>display
different content on mobile devices</strong> - where
appropriate.</p>

<p>Sometimes you want to display the <strong>same content</strong>
and you can do that too without doubling up - simply leave out the
mobile content.</p>

<h3>Content Management of Offline 'Apps'</h3>

<p>One of the primary reasons we are asked to build apps for our
customers is because mobile websites may not be accessible due to
<strong>restricted internet access</strong> while travelling. The
obvious solution is to build an app that can be installed and
viewed without an internet connection.</p>

<p>At the same time our customers would also like to be able to
periodically <strong>update the content</strong> on these offline
apps. That's where it becomes a little more tricky
(=expensive).</p>

<p>We have devised a simple alternative solution that is the best
of both worlds. This is actually a mobile website, but all pages
are still <strong>viewable without an internet connection</strong>.
The only provisos are that the&nbsp;website must be simple and that
your users must access the website once before they go offline,</p>

<h3>Try it</h3>

<p><a href="/{localLink:1109}" title="Try">See how it works</a>
with step-by-step instructions on how to manage standard web
content, mobile content and offline content.</p>
]]></body>
      <mobileBodyContent><![CDATA[
<h2>About Us</h2>

<p><img src="/media/194/picture1.jpg" width="200" height="97" alt="About US Image"/></p>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
Vestibulum condimentum facilisis nulla. In hac habitasse platea
dictumst. Nulla nonummy. Lorem ipsum dolor sit amet, consectetuer
adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus
sollicitudin. Vestibulum condimentum facilisis nulla.</p>
]]></mobileBodyContent>
    </StandardTemplate>
    <NewsTemplate id="1071" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2013-09-14T00:30:10" updateDate="2013-09-14T00:31:33" nodeName="News" urlName="news" path="-1,1069,1071" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="NewsTemplate">
      <umbracoNaviHide>
      </umbracoNaviHide>
      <metaTitle>
      </metaTitle>
      <metaDescription><![CDATA[]]></metaDescription>
      <body><![CDATA[]]></body>
      <NewsDetailsTemplate id="1072" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2013-09-14T00:30:10" updateDate="2013-09-14T01:00:36" nodeName="News 1" urlName="news-1" path="-1,1069,1071,1072" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1054" nodeTypeAlias="NewsDetailsTemplate">
        <umbracoNaviHide>0</umbracoNaviHide>
        <metaTitle>dfdf</metaTitle>
        <metaDescription><![CDATA[dsdsdsd]]></metaDescription>
        <title>News 1</title>
        <date>2012-01-11T00:00:00</date>
        <newsImage>1082</newsImage>
        <excerpt><![CDATA[<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>]]></excerpt>
        <details><![CDATA[<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br /> <br /> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br /> <br /> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum<br /> <br /> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>]]></details>
      </NewsDetailsTemplate>
    </NewsTemplate>
    <ContactUSTemplate id="1075" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2013-09-14T00:30:10" updateDate="2013-09-14T00:31:33" nodeName="Contact" urlName="contact" path="-1,1069,1075" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="ContactUSTemplate">
      <umbracoNaviHide>
      </umbracoNaviHide>
      <metaTitle>
      </metaTitle>
      <metaDescription><![CDATA[]]></metaDescription>
      <contentHeaderText><![CDATA[]]></contentHeaderText>
      <contactFooterText><![CDATA[
<p>We will NOT pass on your e-mail address to other parties and we
will NOT contact you unless your message requires a response.</p>
]]></contactFooterText>
    </ContactUSTemplate>
    <SideItem id="1076" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2013-09-14T00:30:10" updateDate="2013-09-14T00:31:32" nodeName="Testimonials" urlName="testimonials" path="-1,1069,1076" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="SideItem">
      <description><![CDATA[
<h2>Get more...</h2>

<p>To find out more about me, visit my <a
href="http://www.linkedin.com/in/shaishavkarnani" target="_blank"
title="Shaishav Karnani">linkedin</a> profile</p>
]]></description>
    </SideItem>
    <SideItem id="1077" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2013-09-14T00:30:10" updateDate="2013-09-14T00:31:32" nodeName="Sidebar Image" urlName="sidebar-image" path="-1,1069,1077" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="SideItem">
      <description><![CDATA[
<p><img src="/media/175/picture3.jpg" width="257" height="295" alt="Sidebar Image"/></p>
]]></description>
    </SideItem>
  </HomeTemplate>
</root>